body {
	padding: 20px;
	border: 3px solid #73AD21;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: auto;
}

td {
	border: 1px solid black;
	width: 90px;
	text-align: center;
}

td:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

thead> tr > th {
  background-color: whitesmoke;
  font-size: 18px;
  border: 1px solid black;
  border-bottom: 2px solid black;
}

#rupa{
	background-color: white;
	border-right: 2px solid black;
}

tbody > tr > th {
  background-color: whitesmoke;
  font-size: 18px;
  border: 1px solid black;
  border-right: 2px solid black;
  width: 50px;
}

caption {
	font-style: italic;
	padding-bottom: 20px;
}
